@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

/* COLORS
 * - Background (black) -> HSL: (0°, 0%, 0%)
 * - Forebround (White) -> HSL: (0°, 0%, 96.1%)
 * - Primary (brown) -> HSL: (23.6°, 33.9%, 34.7%)
 * - Secondary (dark brown) -> HSL: (13.8°, 9.1%, 20.2%)
 * - Accent (gold) -> HSL: (35.8°, 100%, 72.9%)
*/

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 96.1%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 96.1%;
    --popover-foreground: 0 0% 0%;

    --primary: 23.6 33.9% 34.7%;
    --primary-foreground: 0 0% 0%;

    --secondary: 13.8 9.1% 20.2%;
    --secondary-foreground: 0 0% 0%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 35.8 100% 72.9%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
